header {
  display: flex;
}

body {
  font-family: "Inter", sans-serif;
  background: #fcfcfc;
  height: 100vh;
  color: #222222;
  padding: 5rem;
}

.container {
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

.name {
  font-weight: bold;
  font-size: 2.5rem;
}

.pic {
  width: 500px;
}

header {
  display: flex;
  justify-content: space-between;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  color: #111111;
  font-size: 1rem;
}

a {
  color: #999999;
  text-decoration: none;
}

a:active {
  font-weight: bold;
  color: #111111;
}
