
// Size
$header-size: 50px; 
$paragraph-size: 20px;


// Spacing
$big-gap: 30px;
$small-gap: 30px;

// Collor
$copy-color-strong: rgba(0, 0, 0, 0.9);
$copy-color-soft: rgba(0, 0, 0, 0.8);

$accent: pink;

// Misc
$imgs-border-radius: 50%;
$shadow: 5px 5px 25px 5px rgba(0, 0, 0, 0.25);

html {
    height: 100%;
}

body {
    display: grid;
    grid-template-areas: "header" "content";
    grid-template-columns:  700px;
    justify-content: center;
    margin: 50px;
    grid-template-rows: 50px auto;
    font-family: Helvetica, sans-serif;
    height: 100%;
    gap: 50px;
    color: $copy-color-soft;
}

h1 {
    font-size: $header-size;
}

p, span, ul {
    font-size: $paragraph-size;
}

ul {
    display: grid;
    list-style-type: none;
    gap: 10px;
}

ul li::before {
    content: "\2022";
    color: #67759d;
    font-weight: bold;
    display: inline-block;
    width: 1em;
    margin-left: -1em;
}

.header {
    grid-area: header;

    display: grid;
    grid-template-areas: "name nav";
    grid-template-columns: 1fr 1fr;
    font-size: 20px;

    span {
        grid-area: name;
    }
}

nav {
    grid-area: nav;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-content: end;
    justify-items: center;

    a {
        color: rgb(177, 177, 177);
    }
}

.content {
    padding: 30px;
    grid-area: content;
}

.home {
    display: grid;
    justify-content: center;
    justify-items: center;

    img {
        border-radius: $imgs-border-radius;
        box-shadow: $shadow;
    }

    p {
        text-align: center;
        font-size: $paragraph-size;
    }

    i {
        font-size: 30px;
    }
}

.external-links {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

a {
    color: #1c266e;
    text-decoration: none;
    font-weight: bolder;
}

h1 {
    color: rgba(0, 0, 0, 0.9);
    font-weight: bolder;
}

p {
    color: rgba(0, 0, 0, 0.8);
    font-size: $paragraph-size;
    line-height: 1.5em;
}

.current {
    color: black;
}
