<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/cc6463b94b.js"
      crossorigin="anonymous"
    ></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script
      async
      src="https://www.googletagmanager.com/gtag/js?id=UA-149893872-1"
    ></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "UA-149893872-1");
    </script>
  </head>
  <body>
    <div class="header">
      <span>Alexandre Alencar</span>
      {% include navigation.html %}
    </div>

    <div class="content">
      {{ content }}
    </div>

    <script src="/assets/js/index.js"></script>
  </body>
</html>
